{% extends 'portfolio/base.html' %}

{% block content %}

<!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My services</h2>
            <h4 class="under-title"><span>__what i offer__</span></h4>
            <div class="services-content">
                <div class="card">
                    <div class="box">
                        <i class="fa fa-code fa-4x" aria-hidden="true"></i>
                        <div class="text">Web Development</div>
                        <p>Development of websites according to users requirements. Debugging and testing. Product delivery</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-line-chart fa-4x" aria-hidden="true"></i>
                        <div class="text">Machine Learning</div>
                        <p>Developing machine learning models and systems using Neural Networks. Testing and deploying models. Implementing appropriate Machine Learning algorithms. Adjusting hyperparameters and Cross-validation </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fa fa-paint-brush fa-4x" aria-hidden="true"></i>
                        <div class="text">Graphics Design</div>
                        <p>Designing of high quality logos, posters, business cards, flyers and websites. Symmetrical designs</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
{% endblock content %}