{% extends 'portfolio/base.html' %}

{% block content %}

<!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">Experience</h2>
            <h4 class="under-title"><span>__what i got__</span></h4>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">WHAT I HAVE DONE?.</div>
                    <ol>
                    <li>Created personal portfolio website</li>
                        <li>Built high quality logos for various clients</li>
                   </ol>
            </div>
            <div class="column right">
                    <div class="text">WHAT I HAVE DONE?.</div>
                    <ol>
                      <li>  Built chatbots for apps and blog sites.</li>
                       <li> Worked as a communications lead for the IoT network hub Kenya</li>
                   </ol>
            </div>
        </div>


</section>

<section class="perc" id="perc">
<div class="container">
  <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
          <svg>
            <div class="num">
              <h2>80<span>%</span></h2>
            </div>
      </div>
          <h2 class="text">Front-end </h2>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
          <svg>
            <div class="num">
              <h2>50<span>%</span></h2>
            </div>
      </div>
          <h2 class="text">Back-end </h2>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
          <svg>
            <div class="num">
              <h2>80<span>%</span></h2>
            </div>
      </div>
          <h2 class="text">Graphics Design </h2>
    </div>
  </div>

    <div class="card">
    <div class="box">
      <div class="percent">
        <svg>
          <circle cx="70" cy="70" r="70"></circle>
          <circle cx="70" cy="70" r="70"></circle>
          <svg>
            <div class="num">
              <h2>50<span>%</span></h2>
            </div>
      </div>
          <h2 class="text">Machine Learning </h2>
    </div>
  </div>

</div>
</section>
{% endblock content %}